<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8" />
	<title>SAAUR | @ViewData["Title"]</title>
	<meta name="description" content="Seven admin dashboard live demo. Check out all the features of the admin panel. Light &amp; dark skins. A large number of settings, additional services and widgets." />
	<meta name="keywords" content="Seven, bootstrap, bootstrap 5, dmin themes, free admin themes, bootstrap admin, bootstrap dashboard" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="Seven HTML Free - Bootstrap 5 HTML Multipurpose Light/Dark Admin Dashboard Theme" />
	<meta property="og:url" content="https://keenthemes.com/products/seven-html-pro" />
	<meta property="og:site_name" content="Keenthemes | Seven HTML Free" />
	<link rel="canonical" href="Https://preview.keenthemes.com/seven-html-free" />
	<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />

	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<!--end::Fonts-->
	<!--begin::Page Vendor Stylesheets(used by this page)-->
	<link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" />
	<!--end::Page Vendor Stylesheets-->
	<link href="~/assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" />

	<link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" />
	<link href="~/assets/css/style.bundle.css" rel="stylesheet" />
	<!--end::Global Stylesheets Bundle-->

	<link href="~/css/site.css" rel="stylesheet" />

	<link href="~/lib/sweet-alert/sweetalert2.min.css" rel="stylesheet" />
</head>

<!--begin::Body-->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-enabled">
	<!--begin::Main-->
	<!--begin::Root-->
	<div class="d-flex flex-column flex-root">
		<!--begin::Page-->
		<div class="page d-flex flex-row flex-column-fluid">

			@await Html.PartialAsync("~/Views/Shared/_LayoutLeftMenu.cshtml")

			<!--begin::Wrapper-->
			<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

				@await Html.PartialAsync("~/Views/Shared/_LayoutHeader.cshtml")

				<!--begin::Content-->
				<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
					<!--begin::Container-->
					<div class="container-xxl" id="kt_content_container">
						@RenderBody()
					</div>
					<!--end::Container-->
				</div>
				<!--end::Content-->
				@await Html.PartialAsync("~/Views/Shared/_LayoutFooter.cshtml")
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Page-->
	</div>
	<!--end::Root-->
	<!--begin::Drawers-->
	<!--begin::Scrolltop-->
	<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
		<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
		<span class="svg-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
				<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black" />
				<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="black" />
			</svg>
		</span>
		<!--end::Svg Icon-->
	</div>
	<!--end::Scrolltop-->
	<!--end::Main-->
	<script>var hostUrl = "assets/";</script>
	<!--begin::Javascript-->
	@await Html.PartialAsync("~/Views/Shared/PartialScripts/_ScriptsTemplate.cshtml")
	@await Html.PartialAsync("~/Views/Shared/PartialScripts/_ScriptsValidation.cshtml")
	@await Html.PartialAsync("~/Views/Shared/PartialScripts/_ScriptsBase.cshtml")
	@await RenderSectionAsync("Scripts", required: false)
</body>
<!--end::Body-->
</html>